{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="../static/css/help.css">
<title>Lab2: Довідка</title>
{% endblock %}

{% block content %}
<h3 class="center-elem">Довідкова інформація</h3>
<div class="additional-info-container">
    <div class="additional-info-container__faq">
        <div class="additional-info-container__faq__question">1. Подати визначення і зміст нечіткої множини (НЧМ).</div>
        <div class="additional-info-container__faq__answer">
            <i>Нечіткою множиною А</i> на універсальній множині <i>X</i> називається сукупність пар (x, &mu;<sub>A</sub>(x)), де &mu;<sub>A</sub>(x) - функція належності елемента х  до нечіткої множини А.<br>
            <i>Функція належності</i> - це число з діапазону [0, 1].  Вище значення функції належності показує, що елемент універсальної множини більшою мірою відповідає властивостям нечіткої множини.<br>
            Математична теорія нечітких множин, запропонована Л. Заде, дозволяє описувати нечіткі поняття і знання, оперувати цими знаннями і робити нечіткі висновки. Л. Заде  розширив класичне  поняття множини, припустивши, що характеристична функція (функція належності елемента множині) може приймати довільні значення в інтервалі [0;1]. Такі множини були названі ним нечіткими (fuzzy).
        </div>
    </div>
    <div class="additional-info-container__faq">
        <div class="additional-info-container__faq__question">2. Пояснити зміст і форми подання функції належності.</div>
        <div class="additional-info-container__faq__answer">
            <i>Функцією належності (membership function)</i> називається функція, що дозволяє обчислити ступінь належності довільного елемента універсальної множини до нечіткої множини.<br>
            Функція належності - це число з діапазону [0, 1].  Вище значення функції належності показує, що елемент універсальної множини більшою мірою відповідає властивостям нечіткої множини.<br>
            Особливості вибору форми функції належності:
            <ul>
                <li>
                    функція належності є суб’єктивною характеристикою і не може бути визначена однозначно; кожний фахівець може запропонувати власне її значення;
                </li>
                <li>
                    самі ступені належності можна розглядати, як ступені першого роду(з конкретними числовими значеннями) і ступені другого роду (з інтервальними оцінками). <i>На практиці найчастіше використовують нечіткі множини  першого роду;</i>
                </li>
                <li>
                    незважаючи на те, що функція належності є суб’єктивною характеристикою, її не можна вибирати довільно. Її вибір слід проводити на основі досвіду, спостережень за відповідними явищами, процесами, характеристиками, які подаються за допомогою нечітких  моделей знань.
                </li>
            </ul>
        </div>
    </div>   
    <div class="additional-info-container__faq">
        <div class="additional-info-container__faq__question">3. Пояснити використання шкали Сааті для оцінювання даних.</div>
        <div class="additional-info-container__faq__answer">
            <i>Шкала Сааті</i>, також відома як <i>метод Сааті</i>, — це техніка, яка використовується для прийняття рішень і передбачає оцінку та порівняння кількох критеріїв або альтернатив на основі парних порівнянь. Метод був розроблений Томасом Сааті в 1970-х роках і з тих пір широко використовується в різних сферах, таких як бізнес, інженерія та менеджмент.<br>
            Парні порівняння подають у формі  матриці:<br>
            <div class="image-container">
                <img src="../static/images/help/paired_comparisons_matrix.png" alt="Paired comparisons matrix">
            </div><br>
            Де a<sub>ii</sub> - рівень переваги елемента u<sub>i</sub> над u<sub>j</sub> (i, j=1…n), оцінюваний за девятибальною шкалою Сааті.<br>
            Оцінки рівнів  вибираються з такого списку:
            <ul>
                <li>1 - якщо <i>відсутня перевага</i> елемента u<sub>i</sub> над u<sub>j</sub>;</li>
                <li>3 - якщо існує <i>слабка перевага</i> елемента u<sub>i</sub> над u<sub>j</sub>;</li>
                <li>5 - якщо існує <i>істотна перевага</i> елемента u<sub>i</sub> над u<sub>j</sub>;</li>
                <li>7 - якщо існує <i>явна перевага</i> елемента u<sub>i</sub> над u<sub>j</sub>;</li>
                <li>9 - якщо існує <i>абсолютна перевага</i> елемента u<sub>i</sub> над u<sub>j</sub>;</li>
                <li>2, 4, 6, 8 - проміжні оцінки переваг.</li>
            </ul>
        </div>
    </div>  
    <div class="additional-info-container__faq">
        <div class="additional-info-container__faq__question"></div>
        <div class="additional-info-container__faq__answer"></div>
    </div> 
</div>
{% endblock %}