{% macro render_table(id) %}
<table class="data-table" id="{{ id }}">
    <tbody>
        <tr>
            <td class="data-table__td"><b>Введені значення</b></td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="../static/css/home.css">
<title>Lab2: Ввід даних</title>
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST" class="data-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h3>Побудова нечіткої множини та проведення оцінювання</h3>
        </div>
        <div class="form-group">
            {{ form.parameter_name.label }} {{  form.parameter_name(class="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.parameter_value.label }} {{ form.parameter_value(class="form-control") }}<br>
            <button type="button" id="add-parameter-value-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('parameter-value-table') }}<br>
        </div>

        <div class="form-group">
            {{ form.expert_evaluation.label }} {{ form.expert_evaluation(class="form-control") }}<br>
            <button type="button" id="add-expert-evaluation-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('expert-evaluation-table') }}<br>
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

<script src="../static/js/home.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var maxRowCells = {{ max_row_cells }}
        var maxParameterValues = {{ max_parameter_values }}
        document.getElementById('add-parameter-value-btn').addEventListener('click', function() {
            var newValue = document.getElementById('parameter_value').value;
            addNewRow('parameter-value-table', 'parameter_value', newValue, maxRowCells, maxParameterValues);
        });

        document.getElementById('add-expert-evaluation-btn').addEventListener('click', function() {
            var newValue = document.getElementById('expert_evaluation').value;
            addNewRow('expert-evaluation-table', 'expert_evaluation', newValue, maxRowCells, maxParameterValues);
        });
    });
</script>
{% endblock %}