{% macro render_table(id) %}
<table class="data-table" id="{{ id }}">
    <tbody>
        <tr>
            <td class="data-table__td"><b>Введені значення</b></td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<h1>Головна сторінка</h1>
<div class="form-container">
    <form method="POST" class="data-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.parameter_name.label }} {{  form.parameter_name() }}<br>
        </div>
        <div class="form-group">
            {{ form.parameter_value.label }} {{ form.parameter_value() }}<br>
            <button type="button" id="add-parameter-value-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('parameter-value-table') }}<br>
        </div>

        <div class="form-group">
            {{ form.expert_evaluation.label }} {{ form.expert_evaluation() }}<br>
            <button type="button" id="add-expert-evaluation-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('expert-evaluation-table') }}<br>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-parameter-value-btn').addEventListener('click', function() {
            var newValue = document.getElementById('parameter_value').value;
            var tableRow = document.querySelector('#parameter-value-table tbody tr');
            var newCell = document.createElement('td');
            newCell.classList.add('data-table__td');
            var newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'parameter_value_td');
            newInput.setAttribute('value', newValue);
            newCell.appendChild(newInput);
            tableRow.appendChild(newCell);
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-expert-evaluation-btn').addEventListener('click', function() {
            var newValue = document.getElementById('expert_evaluation').value;
            var tableRow = document.querySelector('#expert-evaluation-table tbody tr');
            var newCell = document.createElement('td');
            newCell.classList.add('data-table__td');
            var newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'expert_evaluation_td');
            newInput.setAttribute('value', newValue);
            newCell.appendChild(newInput);
            tableRow.appendChild(newCell);
        });
    });
</script>
{% endblock %}