{% macro render_table(id) %}
<table class="data-table" id="{{ id }}">
    <tbody>
        <tr>
            <td class="data-table__td"><b>Введені значення</b></td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<div class="form-container">
    <form method="POST" class="data-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h3>Вибір нечіткої множини та проведення оцінювання</h3>
        </div>
        <div class="form-group">
            {{ form.parameter_name.label }} {{  form.parameter_name(class="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.parameter_value.label }} {{ form.parameter_value(class="form-control") }}<br>
            <button type="button" id="add-parameter-value-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('parameter-value-table') }}<br>
        </div>

        <div class="form-group">
            {{ form.expert_evaluation.label }} {{ form.expert_evaluation(class="form-control") }}<br>
            <button type="button" id="add-expert-evaluation-btn" class="btn btn-primary">Додати</button>
        </div>
        <div>
            {{ render_table('expert-evaluation-table') }}<br>
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-parameter-value-btn').addEventListener('click', function() {
            var newValue = document.getElementById('parameter_value').value;
            var tableRow = document.querySelector('#parameter-value-table tbody tr');
            var newCell = document.createElement('td');
            newCell.classList.add('data-table__td');
            var newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'parameter_value_td');
            newInput.setAttribute('value', newValue);
            newCell.appendChild(newInput);
            tableRow.appendChild(newCell);

            // Check if the number of inputs is max_parameter_values and disable the button if true
            var inputsCount = document.querySelectorAll('#parameter-value-table input[name="parameter_value_td"]').length;
            if (inputsCount >= {{ max_parameter_values }}) {
                this.disabled = true; // Disable the button
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-expert-evaluation-btn').addEventListener('click', function() {
            var newValue = document.getElementById('expert_evaluation').value;
            var tableRow = document.querySelector('#expert-evaluation-table tbody tr');
            var newCell = document.createElement('td');
            newCell.classList.add('data-table__td');
            var newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'expert_evaluation_td');
            newInput.setAttribute('value', newValue);
            newCell.appendChild(newInput);
            tableRow.appendChild(newCell);

            // Check if the number of inputs is max_parameter_values and disable the button if true
            var inputsCount = document.querySelectorAll('#expert-evaluation-table input[name="expert_evaluation_td"]').length;
            if (inputsCount >= {{ max_parameter_values - 1 }}) {
                this.disabled = true; // Disable the button
            }
        });
    });
</script>
{% endblock %}