{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <form method="post">
        {{ form.hidden_tag() }}

        {% if block == "novice" %}
            {{ form.q1_choice.label }}<br> {{ form.q1_choice() }}<br>
            {{ form.q2_choice.label }}<br> {{ form.q2_choice() }}<br>
            {{ form.q3_choice.label }}<br> {{ form.q3_choice() }}<br>
            {{ form.q4_choice.label }}<br> {{ form.q4_choice() }}<br>
            {{ form.submit_next() }}
        {% elif block == "expert" %}
            {{ form.q1_choice.label }}<br> {{ form.q1_choice() }}<br>
            {{ form.q2_choice.label }}<br> {{ form.q2_choice() }}<br>
            {{ form.q3_choice.label }}<br> {{ form.q3_choice() }}<br>
            {{ form.submit() }}
        {% else %}
            {{ form.q1_choice.label }}<br> {{ form.q1_choice() }}<br>
            {{ form.q2_choice.label }}<br> {{ form.q2_choice() }}<br>
            {{ form.q3_choice.label }}<br> {{ form.q3_choice() }}<br>
            {{ form.submit_next() }}
        {% endif %}
    </form>
</div>
{% endblock %}