.matrics-table, .matrics-table__th, .matrics-table__td {
  border: 1px solid;
  border-collapse: collapse;
}
  
.matrics-table__th, .matrics-table__td {
  min-width: 50px;
  height: 25px;
  text-align: center;
}
  
.matrics-table__parameter {
  background-color: rgb(204, 255, 255);
}

#h3-results {
  margin-bottom: 5vh;
}

/* Style to make input field look like ordinary text */
.matrics-table__td input[type="text"] {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  max-width: 70px;
}